    <%-include ('./partials/nav') %>
    
    <h1> Projects</h1>
    
        <% projects.forEach(project => { %>
           <div class="details">
                <h2><%= project.title %></h2>
                <img src="<%= project.image %>"  style="width: 300px; height: auto;">
                <p><strong>Description:</strong> <%= project.description %></p>
                <p><strong>Technologies:</strong> <%= project.technologies %></p>
                <p><strong>Features:</strong> <%= project.features %></p>
                <p><strong>Status:</strong> <%= project.status %></p>
                <p><strong>Reflection:</strong> <%= project.reflection %></p>
            </div>
        <% }); %>
    
</body>
</html>