<%- include('./partials/nav') %>

    <h1>Skills</h1>
    
        <% skills.forEach(skill => { %>
            <div class="skills">
           
                </h2><%= skill.name %></h2>
                <p>Category: <%= skill.category %></p>
                <p>Level: <%= skill.level %></p>
                <p>Description: <%= skill.description %></p>
            
            </div>
        <% }); %>
 
</body>
</html>